/* for the upper page */
.compraBetsLogo {
  display: block;
  max-width: 175px;
}
/* for the grass background of the site */
body {
  background-image: url("../Images/grass-background-v2.jpeg");
}
/* for the background of the containers */
.container {
  background-color: rgba(255, 255, 255, 0.699);
  margin: auto;
  width: 100%;
  padding: 10px;
}
/* center a button */
#createNewLeagueButton {
  margin: auto;
  display: block;
}
