.compraBetsLogo {
  display: block;
  max-width: 150px;
}
body {
  background-image: url("/Images/grass-background.jpeg") !important;
}
.card {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}
