.compraBetsLogo {
  display: block;
  max-width: 150px;
}

body {
  background-image: url("/Images/grass-background-v2.jpeg") !important;
}

.navbar-brand {
  margin-left: 75px;
}
.container {
  background-color: rgba(255, 255, 255, 0.699);
  margin: auto;
  width: 100%;
  padding: 10px;
}
/* center the button */
#createNewLeagueButton {
  margin: auto;
  display: block;
}
#searchLeagueButton {
  padding: 3px 45px;
}
