.compraBetsLogo {
  display: block;
  max-width: 175px;
}

body {
  background-image: url("/Images/grass-background-v2.jpeg");
}

.navbar-brand {
  margin-left: 75px;
}

.container {
  background-color: rgba(255, 255, 255, 0.699);
  margin: auto;
  width: 100%;
  padding: 10px;
}

.btn-group {
  display: flex;
  margin-bottom: 30px;
}

.btn {
  border-color: rgba(2, 94, 2, 0.774);
  border-width: 1.5px;
}