.container  {
    display: block;
    max-width: 700px;
    background-color: rgb(247, 247, 247);
}
.registerForm {
    max-width: 400px;
}
.compraBetsLogo {
    display: block;
    max-width: 500px;
}
#registerButton {
    display: block;
    padding: 10px 50px;
}
/*Mobile*/
@media screen and (max-width: 576px) {
    .container  {
        display: block;
        max-width: 400px;
        margin-top: 50px !important;
    }
    .logInForm {
        max-width: 300px;
    }
    .compraBetsLogo {
        max-width: 350px;
    }
}
/*Big Screens*/
@media screen and (min-width: 1700px) {
    
}